@import "./project-item";

.projects-block {
  background-color: $color1;
  padding: 120px 0;
  position: relative;

  &::after {
    height: 600px;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    bottom: -75px;
    left: 0;
    z-index: 0;
    background-image: url("../img/award-bottom.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .section-sec-title {
    position: relative;
    z-index: 2;
    color: #fff;
    margin-bottom: 100px;
  }

  .all-projects-link {
    position: relative;
    z-index: 2;
    font-size: 13px;
    max-width: 230px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 30px 65px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 auto;
  }
}

//projects page

.projects-body {
  .main-header {
    background-image: url("../img/header-bg2.svg");
  }
}

.projects {
  .section-top {
    max-width: 1320px;
    position: relative;
    margin: 0 auto;
    z-index: 3;
  }
  .big-small-text {
    position: relative;
    .big--text {
      font-size: 268px;
      text-transform: uppercase;
      -webkit-text-stroke-color: #d2d2d2;
      text-align: center;
    }
    h1 {
      font-size: 48px;
    }
  }
  .links-wrapper {
    padding-top: 35px;
    justify-content: flex-end;
    display: flex;
    .links__item {
      padding: 15px 30px;
      border: 1px solid $color2;
      border-radius: 100px;
      display: flex;
      align-items: center;
      margin-right: 15px;
      span {
        color: $text-color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
      }
      &.active {
        background-color: $color2;
        span {
          color: #fff;
        }
      }
      .img-wrapper {
        margin-right: 15px;
      }
    }
  }
}
