@import "./team-member";

.team {
  position: relative;
  z-index: 3;
  padding: 110px 0;
  background-image: url("../img/team-bg.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  .container {
    max-width: 1320px;
  }
  .section-top-content {
    width: 50%;
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      bottom: 50px;
      display: block;
      width: 140px;
      height: 140px;
      content: "+";
      display: flex;
      color: $color3;
      font-size: 64px;
      font-weight: bolder;
      align-items: center;
      justify-content: center;
      border: 1px solid $color3;
      border-radius: 50%;
      z-index: -1;
    }
  }
  .section-top {
    margin-bottom: 70px;
    .img-wrapper {
      position: absolute;
      right: 10%;
      top: 0;
      transform: translateY(-40%);
    }
    .section-title {
      text-align: left;
      line-height: 0.8;
      margin-bottom: 60px;
    }
    p {
      font-size: 16px;
      font-family: $ff2;
      width: 60%;
      line-height: 1.6;
    }
  }
  .filled-link {
    display: block;
    max-width: 240px;
    margin: 0 auto;

    margin-top: 30px;
  }
}

.team-members {
  display: flex;
  justify-content: space-between;

  .vertical-text {
    position: absolute;
    transform-origin: 0 0;
    left: 50%;
    transform: rotate(90deg) translateY(-50%);
    font-size: 144px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color2;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .right {
    transform: translateY(-200px);
  }
}
